<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img style="width:100%;" src="../../../assets/icon/market.png" alt="">
    <ion-row>
        <ion-col>
            <ion-toolbar>
                <ion-searchbar color="light" [(ngModel)]="searchText"></ion-searchbar>
            </ion-toolbar>
        </ion-col>
    </ion-row>
    <ion-virtual-scroll [items]="productList | filterByPipe : searchText">

        <ion-row *virtualItem="let product" (click)="presentModal(product)">
            <ion-col size="9" size-lg size="12" size-sm>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>
                            {{product.ItemCode}}
                        </ion-card-subtitle>
                        <ion-card-title>
                            {{product.ItemName}}
                        </ion-card-title>
                        <ion-card-content>
                            <p>{{ product.stocks.length > 0 ? 'Disponible' : 'No Stock' }}</p>
                        </ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-virtual-scroll>
</ion-content>