<ion-content>
  <!-- <div *ngIf="pendingOrderList.length > 0">Ordenes Pendientes</div>
  <ion-virtual-scroll [items]="pendingOrderList">
    <ion-item *virtualItem="let order; let index=index" [routerLink]="['/orderPendingDetail', index]">
      <ion-card style="width: 100%"> -->
  <!-- <ion-card-header>
          <ion-card-title>
            <p>Numero Pedido: {{order.order.order_number}}</p>
          </ion-card-title>
        </ion-card-header> -->
  <!-- <ion-card-content>
          <p>Enviar a: {{order.contact.CardFName}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-virtual-scroll> -->
  <div *ngIf="orderList.length > 0">Ordenes en Autorizaciones</div>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="md-calendar"></ion-icon>
        <ion-label>Fecha inicial</ion-label>
        <ion-datetime
          [(ngModel)]="initialDate"
          picker-format="DD MMM YYYY"
          displayFormat="MMM-DD-YYYY"
          placeholder="Select Date"
        >
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon name="md-calendar"></ion-icon>
        <ion-label>Fecha final </ion-label>
        <ion-datetime
          [(ngModel)]="finalDate"
          picker-format="DD MMM YYYY"
          displayFormat="MMM-DD-YYYY"
          placeholder="Select Date"
        >
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-searchbar
    #clientSearchBar
    placeholder="Buscar Cliente"
    debounce="500"
    (ionInput)="searchContacts($event.target.value);"
    clear-icon
  ></ion-searchbar>
  <ion-list style="display: inline" *ngIf="contactListSearchBar?.length">
    <ion-virtual-scroll approxItemHeight="80" [items]="contactListSearchBar">
      <ion-item *virtualItem="let contact" (click)="addContact(contact)" detail>
        {{contact.CardCode}} - {{contact.CardName}} - {{contact.CardFName}}
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  <div *ngIf="contact">
    <h5>{{contact.CardFName}}</h5>
  </div>

  <ion-button expand="block" (click)="Buscar()">Buscar</ion-button>
  <ion-list>
    <ion-item
      *ngFor="let order of orderList"
      [routerLink]="['/orderAuthDetail', order.id]"
    >
      <ion-card style="width: 100%">
        <ion-card-header>
          <ion-card-title>
            <div>
              <div [ngClass]="[Status[order.status],'Pedido']">
                Pedido: {{order.id}}
              </div>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Enviar a: {{order.CardFName}}</p>
          <p>{{order.CardName}}</p>

          <p>Status:{{Status[order.status]}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
