<ion-content>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <h5>Ordenes en Autorizacion</h5>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="md-calendar"></ion-icon>
        <ion-label>Fecha inicial</ion-label>
        <ion-datetime
          [(ngModel)]="initialDate"
          picker-format="DD MMM YYYY"
          displayFormat="MMM-DD-YYYY"
          placeholder="Select Date"
        >
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon name="md-calendar"></ion-icon>
        <ion-label>Fecha final </ion-label>
        <ion-datetime
          [(ngModel)]="finalDate"
          picker-format="DD MMM YYYY"
          displayFormat="MMM-DD-YYYY"
          placeholder="Select Date"
        >
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-searchbar
    #clientSearchBar
    placeholder="Buscar Cliente"
    debounce="500"
    (ionInput)="searchContacts($event.target.value);"
    clear-icon
  ></ion-searchbar>
  <ion-list style="display: inline" *ngIf="contactListSearchBar?.length">
    <ion-virtual-scroll approxItemHeight="80" [items]="contactListSearchBar">
      <ion-item *virtualItem="let contact" (click)="addContact(contact)" detail>
        {{contact.CardCode}} - {{contact.CardName}} - {{contact.CardFName}}
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  <div *ngIf="contact">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h5>{{contact.CardFName}}</h5>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-button expand="block" (click)="Buscar()">Buscar</ion-button>
  <div *ngIf="orderListAuth.length > 0; else none">
    <ion-list>
      <ion-item
        *ngFor="let order of orderListAuth"
        [routerLink]="['/orderAuthDetail', order.id]"
      >
        <ion-card style="width: 100%">
          <ion-card-header>
            <ion-card-title>
              <div>
                <div [ngClass]="[Status[order.status],'Pedido']">
                  Pedido: {{order.id}}
                </div>
              </div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Enviar a: {{order.CardFName}}</p>
            <p>{{order.CardName}}</p>

            <p>Status:{{Status[order.status]}}</p>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #none>
    <ion-row>
      <ion-col>
        <img
          style="width: 100%; align-items: center; padding-top: 50px"
          src="../../../assets/img/check.webp"
          alt=""
        />
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <h5>Sin Ordenes Pendientes De Autorizar.</h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
